/**FONTS */
html {
  font-size: 16px;
}

.h {
  font-size: 1.25rem;
}
body{
  padding-bottom: 50px;
}
.ibm-plex-sans-500 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  @extend .h;
  color: var(--slider_header);
}

/**SLIDER*/
#root{
    margin: 0 auto;
    overflow: hidden;
}
#root,
#root .slider {
  min-width: 320px;
  max-width: 1920px;
}


#root {
  // padding-top: 35px;
  .slider {
      max-width: 1657px;
      /* 1700*/
      margin: 0 auto;
      // margin-left: 184px;
      // margin-left: 262px;
    }
}

/***/
.slider {
  .slider__track{
    background-color: var(--slider_wite);
    overflow:hidden;
    max-width: 1655px;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 36px;
  }
  .slider_name h2 {
    @extend .ibm-plex-sans-500;
    text-transform: uppercase;
    font-size: 2.75rem;
  }
  .slider__fill-inner{
    overflow: hidden;
    width: 100%;
    min-width:340px;
    // margin-left: 10px;
    >div{
      display: inline-block;
      vertical-align: top;
      
    }
    >div:nth-child(2){
      vertical-align: top;
      min-height: 268px;
      width: 100%;
      max-width: calc(340px - 50px);
      padding-bottom: 6px;
      gap: 10px;
      overflow:hidden;
    }
    img {
      margin: 0 auto;
      width: 152px;
    }
  }
  .slider__fill-inner:first-child{
    margin-left: 0;
  }
  .slider__fill {
    display: flex;
    background-color: var(--slider_wite);
    padding-bottom: 10px;
    gap: 11px;;
    
  }
    // slider_showcase
  .slider__fill-inner div.icons__fill{padding-left: 20px; width: 38px;}
  .slider__fill-inner div.icons__fill:first-child{
      padding-left: 9px;
        width: 48px;
    }
  .icons__fill {
    display:inline-block;
    // flex-direction: column;
    // gap: 5px;
    padding-top: 11px;
    
    box-sizing: border-box;

	  >div {
		  min-height: 36px;
		  width: 35px;
		  max-height: 36px;
      margin-bottom: 3px;
      box-sizing: content-box;
		}
    >div:last-child{
      margin-bottom: 0;
    }
    
  }
  
  .icon {
    
      background: url(../../../infographics/top.svg) no-repeat center, rgb(233, 233, 233, 1);
	}
  .icon2 {
		background: url(../../../infographics/garant.svg) no-repeat center, rgb(233, 233, 233, 1);
	}
	.icon3 {
		background: url(../../../infographics/cacheback.svg) no-repeat center, rgb(233, 233, 233, 1);
	}
	.icon4 {
		background: url(../../../infographics/present.svg) no-repeat center, rgb(233, 233, 233, 1);
	}
	.icon5 {
		background: url(../../../infographics/trand.svg) no-repeat center, rgb(233, 233, 233, 1);
	}
  /***/
  .slider_showcase{
    display: block;
    width: 100%;
    background-color: var(--slider_gray);
    padding-top: 23px;
  }
    .icons__fill,
    .slider_prices,
    .slider_prices__calculate,
    .calculate {
      display: block;
      width: 100%;
    }
    .slider_showcase .icons__fill >div.icon{
      min-height: inherit;
        width: 100%;
        max-width: inherit;
        margin-bottom: 0;
        background: none;
        position: relative;
        padding: 10px 30px 2px;
    }
     .slider_showcase .icons__fill,
     .slider_prices__calculate{
      
        padding-left: 19px;
        padding-top: 10px;
    }
    .icons__fill {
      display: block;
      width: inherit;
      
      >div {
        
  
        div {
          display: inline-block;
          width: 30px;
          min-height: 30px;
          max-height: 30px;
          background: url(../../../infographics/time_yaer.svg) no-repeat center, rgb(233, 233, 233, 1);
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
        }
  
        span {
          @extend .ibm-plex-sans-500;
          font-size: 0.9375rem;
          font-weight: 400;
          vertical-align: top;
          line-height: 0.8;
          display: inline-block;
          padding-left: 11px;
        }
      }
  
      >div.icon2 div {
        background: url(../../../infographics/type_red.svg) no-repeat center, rgb(233, 233, 233, 1);
      }
  
      >div.icon3 div {
        background: url(../../../infographics/type_dark.svg) no-repeat center, rgb(233, 233, 233, 1);
      }
    }
    .slider_prices{
      background-color: var(--slider_gray);
      padding-bottom: 15px;
border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
    }
    .calculate {
      position: relative;
      >div{
        display: inline-block;
      }
      .calculate__info{
        background-color: var(--slider_wite);
        border: 0;
        border-radius: 4px;
        min-width: 100px;
        min-height: 44px;
        max-height: 44px;
        padding: 5px;
        text-align: center;
        position: relative;
        >div{
          @extend .ibm-plex-sans-500;
          font-size: 0.9375rem;
          display: inline-block;
        }
        .calculate__reduce,
        .calculate__increase{
          position: absolute;
          cursor: pointer;;
          top: 0;
          @extend .ibm-plex-sans-500;
          font-size: 57px;
          line-height: 1;
          font-weight: 300;
          top: -12px;
          
        }
        .calculate__reduce{
          left: 7px;
        }
        .calculate__increase{
          right: 4px;
          font-size: 40px;
          top: -1px;
        }
        .calculate__quatity{
          padding-top: 5px;
        }
      }
      .calculate_button{
        cursor: pointer;
        background-color: var(--slider_red);
        color: var(--slider_wite);
        width: 143px;
        min-height: 43px;
        max-height: 43px;
        padding-top: 10px;
        margin-left: 10px;;
        border-radius: 6px;
        text-align: center;
        vertical-align: top;

      }
      .calculate__liks{
        position: absolute;
        margin: 0;
        top: 9px;
        right: 21px;
        width: 25px;
        min-height: 22px;
        max-height: 22px;
        background: url(../../../infographics/liks.svg) no-repeat center, rgb(233, 233, 233, 1);
      }
    }
    .slider_prices__calculate{
      padding-top: 15px;;
    }
    .showcase_button{
      padding-top: 12px;
      padding-bottom: 5px;
      box-sizing: content-box;
      min-height: 47px;
      max-height: 47px;
    }
    .slider_showcase__button{
      display: block;
      width: 300px;
      border: var(--slider_border);
      border-radius: 10px;
      padding-bottom: 11px;
      padding-top: 7px;
      text-align: center;
      color: var(--slider_header);
      
    }
    
    // calculate__info
    .slider_prices__inner {
      padding-top: 16px;
      padding-left: 18px;
    
      >div span{
        position: relative;
        display: inline-block;
          text-decoration: line-through;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 1px;
        @extend .ibm-plex-sans-500;
      }
      >div span::after {
        content: "₽";
          position: absolute;
          top: 0;
          @extend .ibm-plex-sans-500;
          font-weight: 700;
          font-size: 1.25rem;
      }
      .slider_prices__inner-new{
        padding-top: 1px;
      }
      .slider_prices__inner-old span::after{
        right: -16px;
      }
      .slider_prices__inner-new span::after{
        right: -20px;
        font-size: 1.6rem;
        
      }
      .slider_prices__inner-old span {
        color: var(--slider_gray_lite);
        text-decoration: line-through;
      }
  
      .slider_prices__inner-new span{
        color: var(slider_gray);
        font-size: 1.625rem;
        color: var(--slider_header);
        line-height: 1.1;
        text-decoration: none;
      }
    }
    
  h3{
    @extend .ibm-plex-sans-500;
    font-size: 1.2rem;
    letter-spacing: 0.02px;
    display: block;
    padding: 0 5px 0 5px;
    line-height: 1.2;
  }
  .slider__rating{
    // width: 197px;
    min-height: 24px;
    max-height: 24px;
    padding-top: 11px;
    padding-left: 20px;
    box-sizing: content-box;
    
    span,
    .slider__rating-common{
      display: inline-block;
      span{
        position: absolute;
        top: 4px;
        display: inline-block;
        line-height: 1;
      }
    }
    
    .slider__rating-common:after{
      content: "отзывов";
      position: absolute;
      right: -44px;
    }
    span {
      width: 20px;
      min-height: 20px;
      max-height: 20px;
      background: url(../../../infographics/star.svg) no-repeat center;
      padding-right: 4px;
      box-sizing: content-box;
    }
    span:last-of-type{
      background: url(../../../infographics/star_dark.svg) no-repeat center;
    }
    .slider__rating-common{
      @extend .ibm-plex-sans-500;
      font-weight: 400;
      font-size: 0.75rem;
      vertical-align: top;
      box-sizing: content-box;
      padding-left: 10px;
      position: relative;
      min-width: 24px;

    }
  }

}
  /****/
  .slider_float__buttons{
    max-width: 1655px;
    width: 100%;
    padding-top: 7px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    .slider_float__button_left{
      min-height: 46px;
      max-height: 46px;
    }
  }
  .slider_float__button_left {
    vertical-align: top;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 113px;
    span{
      cursor: pointer;
      display: inline-block;
      width: 45px;
      min-height: 45px;
      max-height: 45px;
      background: url(../../../infographics/left.svg) no-repeat center, var(--slider_gray);
      border-radius: 80px;
    }
    span:last-child{
      background: url(../../../infographics/right.svg) no-repeat center, var(--slider_gray);
    }
  }
  .slider_float__button_right {
    display: inline-block;
    vertical-align: top;
    width: 244px;
    position: absolute;
    top: 7px;
    right: 239px;
    button{
      display: inline-block;
      width: 242px;
      background-color: var(--slider_red);
      border-radius: 10px;
      color: var(--slider_wite);
      min-height: 44px;
      max-height: 44px;
    }
  }

  /**MEDIa*/
@media all and (max-width: 1440.2px) {
  .slider{
    .slider_prices__calculate{
      padding-top: 13px;
    }
  }
  .slider_float__button_right{
    top: 8px;
    right: 23px;
  }
}

@media all and (max-width: 1280.2px) {
 
  .slider .slider__fill-inner{
    min-width: 300px;
  }
  .slider {
    .slider__fill-inner{
      >div:nth-child(2) {
        width: 100%;
        max-width: 200px;
        padding-top: 26px;
        overflow: hidden;
        padding-top: 26px;
      }
      img{
        width: 141px;
      }
    > div:nth-child(2){
      padding-bottom: 1px;
    }
    }
    .slider__rating {
      padding-top: 8px;
    }
    .calculate {
      .calculate_button {
        width: 113px;
        margin-left: 8px;
        min-height: 46px;
        max-height: 46px;
        border-radius: 12px;
      }
    .calculate__liks {
      cursor: pointer;
      right: 22px;
      width: 25px;
    }
    }
    .slider_showcase__button{
      width: 260px;
    }
    .slider_prices__calculate{
      padding-top: 13px;
    }
     .icons__fill{
      padding-top: 26px;
     }
    .h3 {
      padding-left: 10px;
    }
}
  .slider_float__button_right {
    top: 4px;
    right: 34px;
  }
}
@media all and (max-width: 1024.2px){
  #root .slider{
    margin-left: 0;
  }
  .slider{
    
    .calculate .calculate_button{
      margin-left: 11px;;
    }
    .slider_prices__calculate{
      padding-top: 10px;
    }
    .h3 {
      padding-left: 0;
    }
    .slider_showcase{
      padding-top: 18px;
    }
    .slider__fill-inner {
      >div:nth-child(2) {
        max-height: 246px;
        min-height: auto;
        padding-top: 30px;
        
      }
      img {
        width: 173px;
      }
    }

  .slider__rating {
    padding-top: 10px;
    padding-left: 19px;
  } 
}
 .h3.slider_name {
  width: 100%;
  max-width: 270px;
   margin: 0 auto;
 }

}


@media all and (max-width: 768px) {

  .slider {
    .slider__track {
      padding-top: 38px;
    }

    .slider_name h2 {
      font-size: 2.15rem;
    }
      
    
    .slider_showcase {
      .icons__fill >div.icon{
          width: 130px;
          padding-bottom: 0;
      }
      .icons__fill {
          padding-top: 6px;
      }
    }   
    // .icons__fill {
    //   padding-top: 0;
    //   >div{
    //     padding-left: 30px;
    //       padding-top: 4px;
    //       padding-right: 11px;
    //       padding-bottom: 5px;
        
    //   }
    // }
    .slider__fill-inner {
      min-width: 229px;
      padding-top: 22px;
      img {
        width: 104px;
      }

      >div:nth-child(2) {
        padding-top: 18px;
        padding-bottom: 15px;
        max-width: 180px;
      }
      div.icons__fill{
          padding-left: 9px;
          padding-top:6px;
      }
      >div.icons__fill:first-child {
        padding-left: 9px;
        padding-top: 12px;
      }
    }

    h3 {
      font-size: 0.87rem;
      padding: 0 10px 0 10px;
    }

    .slider_showcase{
      padding-top: 13px;
    }
   
    .slider__rating {
      padding-left: 9px;
      padding-top: 8px;
      span {
        padding-right: 0;
          margin-left: 3px;
      }
      .slider__rating-common {
       min-height: 18px;
        max-height: 18px;
        width: 90px;
      }
      .slider__rating-common span{
        background: none;
        font-size: 12px;
        box-sizing: content-box;
        padding-left: 19px;
      }
      .slider__rating-common:after{
        right: 4px;
      }
    }
    .slider_prices {
      padding-top: 3px;
      padding-bottom: 0;
    }
    .slider_prices__inner{
      padding-left: 8px;
    }
    .slider_prices__calculate{
      padding-left: 0;
    }
      .calculate .calculate__info{
      display: none;
    }
    .calculate {
      
      .calculate_button{
        padding-left: 0px;
        margin-left: 9px;

        width: 100%;
        max-width: 173px;
      }
      .calculate__liks{
        right: 11px;
        top: 12px;
      }
      
    }
    .showcase_button {
      width: 100%;
      max-width: 220px;
    }

    .slider_showcase__button {
      width: inherit;
    }
  }
  .slider_float__button_right {
    top: 10px;
    right: 26px;
  }
}

@media all and (max-width: 480.02px){
  .slider{
    .slider__track {
      padding-top: 38px;
      padding-left: 19px;
    }
    .slider_name h2 {
      font-size: 1.55rem;
    }
    .slider__fill-inner {
      padding-top: 18px;
      min-width: 216px;
      >div:nth-child(2){
        padding-top: 0;
        padding-bottom: 12px;
        max-width: 154px;
        
      }
    }
    .slider__rating span{
      margin-left: 5px;
    }
    .slider__fill-inner>div.icons__fill:first-child {
      padding-left: 15px;
      padding-top: 0;
    }
    .slider_prices__calculate{
      padding-left: 13px;
    }
    .calculate .calculate_button{
      max-width: 154px;
      min-height: 45px;
      max-height: 44px;
      margin: 0;
    }
    .showcase_button{
      max-width: 192px;
    }
    .slider_float__button_left {
      width: 83px;
      padding-top: 12px;
    }
    .slider_float__button_left span{
      width: 35px;
      min-height: 35px;
      max-height: 35px;
    }

  }
  .slider_float__button_right{
    top: 13px;
      right: -79px;
    
     button{
      width: 147px;
    }
}
}

@media (max-width: 320.02px) {
  .slider {
    .slider__track {
      padding-top: 17px;   
    }
    .slider__fill{
      width: 300px;
      overflow: hidden;
    }
    .slider__fill-inner {
      padding-top: 24px;
      min-width: 301px;

      >div:nth-child(2) {
          padding-bottom: 2px;
        }
    }
    .slider__fill-inner img {
      width: 124px;
    }
    .slider__rating .slider__rating-common span {
      padding-left: 0;
    }
   .calculate .calculate_button {
      max-width: 221px;
    }
    .slider_prices__calculate {
      padding-left: 13px;
      padding-top: 7px;
    }
    .showcase_button {
      max-width: 262px;
    }

    .calculate .calculate__liks {
      right: 31px;
      top: 11px;
    }
    .slider_float__button_right {
      top: 22px;
    }
  }
}

    /**COLORS*/
:root {
  --slider_gray: rgb(233, 233, 233, 1);
  --slider_header: rgb(58, 58, 58, 1);
  --slider_gray_lite: rgb(136, 136, 136, 1);
  --slider_red: rgba(228, 29, 27, 1);
  --slider_wite: rgba(255, 255, 255, 1);
  --slider_border: 1px solid rgba(136, 136, 136, 1);
}